<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron text-white jumbotron-image shadow" style="background-image: url(../../assets/temples.webp);">
                <h2 class="mb-4">
                 Explore the Holy and Divine Side of Maharashtra Famous Temples.
                 Each And Every Temple here has there own speciality and a amazing stories behind it.
                </h2>
                <p class="mb-4">
                 Explore the given Locations and get to know about the Temples.
                </p>
              </div>

              <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="../../assets/Shirdi/Shirdi.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Shirdi</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="shirdi" class="btn btn-primary">Explore!</a>
                  </div>
                </div>

                <div class="card">
                  <img class="card-img-top" src="../../assets/Ganapathipule temple/ganapathi1.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Ganpatipule</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <a href="ganpatipule" class="btn btn-primary">Explore!</a>
                  </div>
                </div>

                <div class="card">
                  <img class="card-img-top" src="../../assets/Dagdusheth ganapathi/Dagdusheth2.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Dagdusheth</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <a href="dagdusheth" class="btn btn-primary">Explore!</a>
                  </div>
                </div>
              </div>
          
              <div class="card-deck">
                <div class="card mt-4">
                  <img class="card-img-top" src="../../assets/Bhimashankar Temple/Bhimashankar.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Bhimashankar</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="bhima" class="btn btn-primary">Explore!</a>
                  </div>
                </div>

                <div class="card mt-4">
                  <img class="card-img-top" src="../../assets/Moreshwar temple/Moreshwar1.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Moreshwar</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <a href="moreshwar" class="btn btn-primary">Explore!</a>
                  </div>
                </div>
        </div>
    </div>
</div>
