<div class="container-fliud">
    <div class="row">
        <div class="col-md-12">

          <div class="card-deck">
            <div class="card">
              <img src="../../assets/plan-your-travel.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Travel Reservation</h5>
                <p class="card-text">Click The Given Link Below to Plan Your Trip</p>
                <a href="travel-booking" class="btn btn-primary">Book Now!</a>
              </div>
            </div>
            <div class="card">
              <img src="../../assets/download.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Hotel-Reservation</h5>
                <p class="card-text">Click The Given Link Below to Reserve your Stay</p>
                <a href="hotel-reservation" class="btn btn-primary">Book Now!</a>
              </div>
            </div>
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Schemes</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <a href="#" class="btn btn-primary">Book Now!</a>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
