<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-white jumbotron-image shadow" style="background-image: url(../../assets/KHANDALA.jpg);">
                <h2 class="mb-4">
                  Explore Maharashtra
                </h2>
                <p class="mb-4">
                  Hey, check this location.Explore the place you want!
                </p>
              </div>

              <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="../../assets/temples.webp" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Temples</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="temples" class="btn btn-primary">Explore!</a>
                  </div>
                </div>

                <div class="card">
                  <img class="card-img-top" src="../../assets/beaches.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Beaches and More...</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <a href="beaches" class="btn btn-primary">Explore!</a>
                  </div>
                </div>

                <div class="card">
                  <img class="card-img-top" src="../../assets/hillstation tiger-point.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">HillStations</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <a href="hill-stations" class="btn btn-primary">Explore!</a>
                  </div>
                </div>
              </div>
          
              <div class="card-deck">
                <div class="card mt-4">
                  <img class="card-img-top" src="../../assets/Rajgad_Banner.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Forts and Treks...</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="forts" class="btn btn-primary">Explore!</a>
                  </div>
                </div>

                <div class="card mt-4">
                  <img class="card-img-top" src="../../assets/WildLife.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Welcome To Wild Life of Maharashtra..</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <a href="wild" class="btn btn-primary">Explore!</a>
                  </div>
                </div>

                <div class="card mt-4">
                  <img class="card-img-top" src="../../assets/ganpati.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Festives and Cultural Side...</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <a href="culture" class="btn btn-primary">Explore!</a>
                  </div>
                </div>

              </div>
        </div>
    </div>
</div>
