<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron text-black jumbotron-image shadow" style="background-image: url(../../assets/beaches1.jpg);background-size: 100%;">
                <h2 class="mb-4">
                 Explore the Beautiful and Relaxing Sea-Shores.
                 <h3>Perfect way to spend a vacation</h3>
                </h2>
                <p class="mb-4">
                 Explore the given Locations and get to know about the Temples.
                </p>
              </div>

              <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="../../assets/murud beach/murud2.JPG" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Murud</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="murud" class="btn btn-primary">Explore!</a>
                  </div>
                </div>

                <div class="card">
                  <img class="card-img-top" src="../../assets/tarkali beach/tarkali3.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Tarkarli</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <a href="tarkarli" class="btn btn-primary">Explore!</a>
                  </div>
                </div>

                <div class="card">
                  <img class="card-img-top" src="../../assets/alibaugh beach/alibaugh2.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Alibagh</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <a href="alibagh" class="btn btn-primary">Explore!</a>
                  </div>
                </div>
              </div>
          
              <div class="card-deck">
                <div class="card mt-4">
                  <img class="card-img-top" src="../../assets/hareshwar beach/hari3.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Harihareshwar</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="hari" class="btn btn-primary">Explore!</a>
                  </div>
                </div>

                <div class="card mt-4">
                  <img class="card-img-top" src="../../assets/dapoli beach/dapoli1.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Dapoli</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <a href="dapoli" class="btn btn-primary">Explore!</a>
                  </div>
                </div>
        </div>
    </div>
</div>
